Repository Hexawolf/SSProto, pull requests merged in 2018-11, with the labels that each got.

#6 Replace SHA-256 with BLAKE2b
  go.mod
  ss-client/index.go
  ss-client/io.go
  ss-client/main.go
  ss-server/index.go
Labels: enhancement

#7 Reindexing on filesystem changes
  go.mod
  go.sum
  ss-server/index.go
  ss-server/logging.go
  ss-server/main.go
  ss-server/server.go
Labels: enhancement, server

#13 Server config
  go.mod
  go.sum
  ss-server/config.go
  ss-server/index.go
  ss-server/main.go
  ss-server/server.go
Labels: side: server
